**/*
!dist/extension.cjs
!dist/chunks/**/*.cjs
!dist/webview.js
!dist/webview.css
!pi-ui/tokens.css
!l10n/**
!assets/fonts/**
!assets/icon.png
!assets/icon.svg
!assets/logo.svg
!assets/logo-light.svg
!bridge/**
!package.nls*.json
!README.md
!README.zh-CN.md
!CHANGELOG.md
!LICENSE
